.pizza-container {
    width: 75%;
    margin: 20px auto;
    position: relative;
}

.pizza-base {
    width: 100%;
    padding-bottom: 100%;
    background-color: #F4A460;
    border-radius: 50%;
    position: relative;
}

.pizza-edge {
    width: 85%;
    padding-bottom: 85%;
    background-color: #FF6347;
    border-radius: 50%;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
}

.cheese {
    width: 80%;
    padding-bottom: 80%;
    background-color: #FFD700;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.basil {
    width: 15%;
    padding-bottom: 10%;
    background-color: #228B22;
    position: absolute;
    border-radius: 50%;
}

.ham {
    width: 15%;
    height: 7%;
    background-color: #ff8b9e;
    position: absolute;
    border-radius: 10px;
    top: 30%;
    left: 35%;
    transform: rotate(45deg);
}

.pineapple {
    width: 8%;
    height: 8%;
    background-color: #FFFF66;
    border-radius: 20% 20% 10% 10%;
    position: absolute;
}

.cheese-spot {
    width: 20%;
    height: 15%;
    border-radius: 50%;
    position: absolute;
}

.gorgonzola {
    background-color: #5F9EA0;
}

.parmesan {
    background-color: #FFFACD;
}

.ricotta {
    background-color: #FFFFFF;
}

.olives {
    width: 6%;
    height: 6%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 45%;
}

.olives::before {
    content: "";
    display: block;
    width: 50%;
    height: 50%;
    background-color: #FFD700;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}

.artichoke {
    width: 10%;
    height: 12%;
    background-color: #98FB98;
    clip-path: polygon(50% 0%, 10% 100%, 90% 100%);
    position: absolute;
    top: 60%;
    left: 40%;
    border-radius: 5px;
}

.mushroom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 15%;
    position: absolute;
}

.mushroom .cap {
    width: 100%;
    height: 50%;
    background-color: #aa9988;
    border-radius: 50% 50% 0 0;
    position: relative;
}

.mushroom .stem {
    width: 40%;
    height: 50%;
    background-color: #aa9988;
    border-radius: 0 0 20% 20%;
    margin-top: -5%;
}

.caper {
    width: 5%;
    height: 5%;
    background-color: #556B2F;
    border-radius: 50%;
    position: absolute;
}

.caper::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: #6B8E23;
    border-radius: 50%;
    top: 30%;
    left: 20%;
}

.caper::after {
    content: "";
    position: absolute;
    width: 25%;
    height: 25%;
    background-color: #2E8B57;
    border-radius: 50%;
    top: 50%;
    left: 60%;
}